[submodule "monolithToMicroserviceAWS-frontend"]
	path = .
	url = https://github.com/shahjuhi1108/monolithToMicroserviceAWS-frontend.git
[submodule "monolithToMicroserviceAWS-reverseProxy"]
	path = .
	url = https://github.com/shahjuhi1108/monolithToMicroserviceAWS-reverseProxy.git
[submodule "monolithToMicroserviceAWS-feed"]
	path = .
	url = https://github.com/shahjuhi1108/monolithToMicroserviceAWS-feed.git
[submodule "monolithToMicroserviceAWS-user"]
	path = .
	url = https://github.com/shahjuhi1108/monolithToMicroserviceAWS-user.git